* {
    background:                  rgba(20, 19, 24, 0.8);
    background-alt:              #48454e;
    foreground:                  #e6e1e9;
    selected:                    #cabeff;
    active:                      #cabeff;
    urgent:                      #ffb4ab;
}
