* {
    background:      rgba(50, 48, 47, 0.85);
    background-alt:  #3c3836;
    foreground:      #ebdbb2;
    selected:        #d79921;
    active:          #98971a;
    urgent:          #cc241d;
}
