* {
    background:      rgba(29, 31, 33, 0.85);
    background-alt:  #282a2e;
    foreground:      #c5c8c6;
    selected:        #81a2be;
    active:          #8abeb7;
    urgent:          #cc6666;
}
