* {
    background:      rgba(35, 33, 54, 0.85);
    background-alt:  #2a273f;
    foreground:      #e0def4;
    selected:        #c4a7e7;
    active:          #9ccfd8;
    urgent:          #eb6f92;
}
