@import 'styles/buttons.css';
@import 'styles/colors.css';


* {
	background-image: none;
	box-shadow: none;
}

window {
	font-family: "SF Pro Text", "GeistMono Nerd Font Propo";
	font-size: 1.2em;
	background-color: alpha(@bg1, 0.2);
	color: @fg ;

}


button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	background-color: transparent;
	transition: background-size 0.3s cubic-bezier(0.15, 0, 0.1, 1), background-color 0.3s cubic-bezier(0.15, 0, 0.1, 1), box-shadow 0.3s cubic-bezier(0.15, 0, 0.1, 1), font-size 0.3s cubic-bezier(0.15, 0, 0.1, 1);
	font-size: 1em;
	box-shadow: 0 0 10px 2px transparent;
	border-radius: 36px;
	margin: 10px;
	min-width: 160px;
	min-height: 160px;
}

button:focus {
	box-shadow: none;
	outline-style: none;
	background-size: 20%;
}

button:hover {
	background-size: 30%;
	outline-style: none;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 4);
	font-size: 1.3em;
	color: @fg;
	background-color: @bg;
}
