* {
    background:      rgba(22, 22, 22, 0.85);
    background-alt:  #262626;
    foreground:      #dde1e6;
    selected:        #78a9ff;
    active:          #08bdba;
    urgent:          #ff7eb6;
}
