#lock {
	background-image: image(url("../icons/lock.svg"));
}

#logout {
	background-image: image(url("../icons/logout.svg"));
}

#suspend {
	background-image: image(url("../icons/suspend.svg"));
}

#hibernate {
	background-image: image(url("../icons/hibernate.svg"));
}

#shutdown {
	background-image: image(url("../icons/shutdown.svg"));
}

#reboot {
	background-image: image(url("../icons/reboot.svg"));
}
