* {
    background:      rgba(45, 53, 59, 0.85);
    background-alt:  #3d484d;
    foreground:      #d3c6aa;
    selected:        #a7c080;
    active:          #7fbbb3;
    urgent:          #e67e80;
}
