* {
    background:                  rgba(18, 19, 24, 0.8);
    background-alt:              #45464f;
    foreground:                  #e3e2e9;
    selected:                    #b3c5ff;
    active:                      #b3c5ff;
    urgent:                      #ffb4ab;
}
